.browse-library {
  margin-left: 18%;
  /* padding-top: 2%; */
}
.category-sidebar-result {
  margin-left: 18%;
}
.browse-library-content {
  padding-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
}
.browse-library-content .new{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
}
.browse-book-container {
  margin-bottom: 2%;
  text-align: center;
  width: 300px;
  height: 350px;
}
.book-text{
  margin-top: 3%;
  width: 200px;
}
.browse-book-container .book-img {
  width: 200px;
  height: 300px;
}
.browse-book-container .book-img img {
  width: 200px;
  height: 300px;
}
.browse-book-container .book-img:hover img {
  margin-top: -5px;
  transition: all 0.4s ease;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.5s ease-in-out;
}
.browse-book-container .book-img span {
  position: relative;
  top: -185px;
  left: -2px;
  display: none;
}
.browse-book-container .book-img:hover span {
  display: block;
  margin-top: -5px;
  transition: all 0.4s ease;
}
.browse-book-container .add-to-cart-btn button {
  padding: 8px;
  border: none;
  background-color: #28b498;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: 2%;
}
.book-img span button {
  padding: 10px;
  border: none;
  background-color: #28b498;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
.user-view-details {
  margin-left: 18%;
  padding-top: 2%;
}
.user-view-first-section {
  display: flex;
  flex-direction: row;
}
.previous-page {
  margin-top: 3%;
  text-align: center;
}
.view-details-container .view-details-container1 {
  display: flex;
  flex-direction: row;
}
.book-img-holder img {
  width: 240px;
  height: 355px;
}
.book-details {
  margin-left: 5%;
  width: 400px;
  height: 300px;
  text-align: left;
}
.book-details-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 410px;
  justify-content: space-between;
}
.book-img span button:disabled{
  background-color: grey;
}
/* width */
.book-details .description p::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.book-details .description p::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.book-details .description p::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.book-details .description p::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.book-details .author {
  margin-top: 2%;
  width: 150px;
}
.book-details .details-item{
  margin-top: 2%;
  width: 200px;
}
.book-details .description{
  margin-top: 2%;
}
.book-details {
  font-size: 14px;
}
.book-details .book-amount {
  margin-bottom: 2%;
}
.book-details button {
  padding: 11px;
  width: 400px;
  border: none;
  background-color: #28b498;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 6.5%;
}
.book-details button:disabled {
  background-color: grey;
}
.book-details button span {
  margin-right: 10px;
  font-size: 18px;
}
.details-pane {
  margin-left: 4%;
  height: 450px;
  width: 25%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 12px;
  border-radius: 5px;
}
.common-book-slider {
  width: 89%;
  margin-top: 5%;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.search-result-header {
  display: flex;
  width: 30%;
  justify-content: space-between;
  padding-top: 2%;
}
.search-result-header h5 {
  font-weight: normal;
  margin-top: 1%;
}
.browse-previous-btn {
  padding-top: 5px;
  font-size: 25px;
  cursor: pointer;
}
.search-result-library {
  margin-left: 18%;
}
.search-result-library .browse-library-content {
  margin-top: -5%;
}
