.transactions {
  margin-left: 18%;
  padding-top: 2%;
}
.transactions-header h5 {
  font-weight: normal;
  margin-top: 0.5%;
}
.transaction-content {
  margin-top: 2%;
  padding: 15px;
  width: 1100px;
  height: 600px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.table-content-main {
  margin-top: 3%;
  overflow-y: scroll;
  height: 450px;
  padding: 5px;
}
/* width */
.table-content-main::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.table-content-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.table-content-main::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
.table-content-main::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.user-applied-books-btn,
.user-loaned-books-btn,
.user-declined-books-btn,
.user-returned-books-btn,
.user-partial-books-btn {
  color: black;
  border-bottom-color: #28b498;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 5px;
}
.user-applied-books-btn1,
.user-loaned-books-btn1,
.user-declined-books-btn1,
.user-returned-books-btn1,
.user-partial-books-btn1 {
  color: grey;
  padding: 5px;
  cursor: pointer;
}
.user-applied-books-btn1:hover,
.user-loaned-books-btn1:hover,
.user-declined-books-btn1:hover,
.user-returned-books-btn1:hover,
.user-partial-books-btn1:hover {
  color: #28b498;
}
