.user-settings{
    height: 1100px;
}
.user-settings-header h4{
    margin-top: 2%;
    font-weight: 600;
    font-size: 18px;
}

.name{
    margin-top: 2%;
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
    height: 200px;
}
.name .user-form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
}
.name .user-form-item label{
    font-weight: 600;
}
.name .user-form-item input{
    width: 350px;
    padding: 9px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 17px;
}
.profile-picture{
    margin-top: -9%;
}
.profile-picture .user-form-item label{
    font-weight: 600;
}
.picture-display{
    margin-top: 1%;
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 24px;
}
.profile-picture .user-form-item .photo-content{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content:space-between ;
}
.photo-content .change-btn{
    padding-top: 15px;
}
.change-btn button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #28b498;
    color: white;
}
.photo-content .remove-btn{
    padding-top: 20px;
}
.photo-content .remove-btn button{
    border: none;
    background-color: white;
    font-size: 15px;
}
.remove-btn button:hover{
    color: #28b498;
    cursor: pointer;
}
.user-settings-line{
    margin-top: 2%;
    width: 95%;
}
.user-personal-info{
    margin-top: 2%;
}
.user-personal-info-header h4{
    font-weight: 600;
    font-size: 18px;
}
.personal-information{
    margin-top: 2%;
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
    height: 200px;
}
.personal-information .user-form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
}
.personal-information .user-form-item label{
    font-weight: 600;
}
.personal-information .user-form-item input{
    width: 350px;
    padding: 9px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 17px;
}
.user-settings-line2{
    margin-top: -10%;
    width: 95%;
}
.user-change-password{
    margin-top: 2%;
}
.user-change-password h4{
    font-weight: 600;
    font-size: 18px;
}
.change-password{
    margin-top: 2%;
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10%;
    height: 200px;
}
.change-password .user-form-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70px;
}
.change-password .user-form-item label{
    font-weight: 600;
}
.change-password .user-form-item input{
    width: 350px;
    padding: 9px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 17px;
}
/* .user-change-password {
    margin-top: -15%;
} */
.account-creation{
    margin-top: -18%;
    color: grey;
}
.user-settings-line3{
    width: 95%;
    margin-top: 2%;
}
.end-btn{
    margin-top: 3%;
    display: flex;
    justify-content: right;
    width: 95%;
}
.end-btn button{
    padding: 10px;
    border: none;
}
.end-btn .user-settings-cancel-btn{
    margin-right: 2%;
}
.end-btn .user-settings-cancel-btn button{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.end-btn .user-settings-save-btn button{
    background-color: #28b498;
    color: white;
    border-radius: 5px;
}
