.user-view-details {
  margin-left: 18%;
  padding-top: 2%;
}
.user-view-first-section{
    display: flex;
    flex-direction: row;
}
.view-details-container {
  width: 60%;
  height: 450px;
  padding: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5px;
}
.previous-page {
  margin-top: 3%;
  text-align: center;
}
.view-details-container .view-details-container1 {
  display: flex;
  flex-direction: row;
}
.book-img-holder img {
  width: 240px;
  height: 355px;
}
.book-details {
  margin-left: 5%;
  width: 500px;
  height: 300px;
}
.book-details .author {
  margin-top: 2%;
}
.book-details .book-amount {
  margin-bottom: 2%;
}
.book-details button {
  padding: 11px;
  width: 450px;
  border: none;
  background-color: #28b498;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
.book-details button span {
  margin-right: 10px;
  font-size: 18px;
}
.details-pane{
    margin-left: 4%;
    height: 450px;
    width: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 12px;
    border-radius: 5px;
}
.common-book-slider{
    width: 89%;
    margin-top: 5%;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
