* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  /* padding: 40px; */
}
.login-page {
  background-color: #d9d9d9;
  height: 100vh;
}
.container {
  min-height: calc(100vh - 5px * 2);
  display: grid;
  grid-template-columns: 50% 30%;
  border-radius: 10px;
  overflow: hidden;
  padding: 4%;
  justify-content: center;
}
.left-navigation {
  display: flex;
  flex-direction: column;
  justify-content: content;
  /* padding-left: 150px; */
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}
.left-navigation .login-header {
  margin-top: 12%;
  text-align: center;
}
.login-header h1 {
  margin-bottom: 4%;
}
.login-header p {
  color: grey;
}
.login-form-content .form-item {
  text-align: center;
  margin-top: 40px;
}
.login-form-content .form-item input {
  width: 60%;
  padding: 12px;
  padding-left: 40px;
  border-radius: 30px;
  border: none;
  background-color: #d9d9d9;
  font-size: 14px;
}
.login-form-content .form-item i{
  position: absolute;
}
.login-user-icon{
  /* padding: 12px; */
  /* background-color: #d9d9d9; */
  border-radius: 30px;
  font-size: 22px;
  width: 45px;
  /* margin-top: 1%; */
  padding-top: 6px;
}
.login-show-password-btn{
  border-radius: 30px;
  font-size: 20px;
  width: 45px;
  margin-right: 2%;
  padding-top: 9px;
  left: 47%;
}
.login-form-content .form-item i{
  position: absolute;
}
.signup_link {
  padding-left: 25%;
  margin-top: 2%;
}
.signup_link_text {
  margin-left: 1%;
}
.sign-in-btn {
  text-align: center;
  margin-top: 30px;
}
.login-form-content button {
  padding: 10px;
  border-radius: 30px;
  width: 30%;
  background-color: #28b498;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.left-line {
  float: left;
  width: 33%;
  padding-left: 3%;
  margin-top: 1.5%;
}
.right-line {
  float: right;
  width: 33%;
  padding-right: 3%;
  margin-top: 1.5%;
}
.right-navigation {
  /* background-color: #28B498; */
  background-image: url("/public/images/rm422-047.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 30px 30px 0px;
}
.right-navigation .right-navigation-header h1 {
  margin-top: 1%;
  text-align: center;
  color: white;
}
.right-navigation .content {
  text-align: center;
  color: white;
}
::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}
:-moz-placeholder {
  color: black;
  font-weight: bold;
}
:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}
.left-navigation .user-login .student-btn1 {
  float: left;
  margin-left: 8%;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.left-navigation .user-login span:hover {
  color: #28b498;
  cursor: pointer;
}
.left-navigation .admin-login .non-student-btn1 {
  float: right;
  margin-right: 8%;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.left-navigation .admin-login span:hover {
  color: #28b498;
  cursor: pointer;
}
.login-option {
  margin-top: 5%;
}

/*Test*/
.user-login .student-btn{
  font-size: 16px;
  font-weight: bold;
  float: left;
  margin-left: 8%;
  color: black;
  border-bottom-color: #28b498;
  border-bottom-width: 2px;
  border-bottom-style:solid;
  padding: 5px;
}
.admin-login .non-student-btn{
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-right: 8%;
  color: black;
  border-bottom-color: #28b498;
  border-bottom-width: 2px;
  border-bottom-style:solid;
  padding: 5px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 60% 40%;
  }
  .login-user-icon{
    padding-top: 7px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .container {
    grid-template-columns: 90%;
  }
  .left-navigation {
    border-radius: 30px;
  }
  .right-navigation {
    display: none;
  }
  .login-user-icon{
    padding-top: 12px;
  }
}

@media (max-width: 426px) {
  .container {
    grid-template-columns: 90%;
    padding: 1%;
  }
  .login-option .user-login {
    font-size: 14px;
  }
  .login-option .admin-login {
    font-size: 14px;
  }
  .login-header h1 {
    font-size: 16px;
  }
  .login-header p {
    font-size: 14px;
  }
  .login-form-content .form-item input {
    width: 90%;
    padding: 11px;
    padding-left: 13px;
    border-radius: 30px;
    border: none;
    background-color: #d9d9d9;
  }
  .login-form-content .sign-in-btn button {
    width: 50%;
    padding: 8px;
    border-radius: 30px;
    background-color: #28b498;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10%;
    margin-top: 20%;
  }
  .login-form-content .signup_link {
    padding-left: 12%;
    margin-top: 4%;
    font-size: 14px;
  }
  .left-navigation{
    background-color: none;
  }
  .login-page{
    background-color: white;
  }
  .left-line {
    float: left;
    width: 30%;
    padding-left: 3%;
    margin-top: 1.5%;
  }
  .right-line {
    float: right;
    width: 30%;
    padding-right: 3%;
    margin-top: 1.5%;
  }
  .login-user-icon{
    padding-top: 10px;
  }
  .login-form-content .form-item input{
    padding-left: 40px;
  }
}

@media (max-width: 426px) {
  .login-user-icon{
    padding-top: 9px;
  }
}
