*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
.Password-Recovery{
    background-color: #D9D9D9;
    height: 100vh;
}
.password-container{
    min-height: calc(100vh - 5px * 2);
    display: grid;
    grid-template-columns: 50% 30%;
    border-radius: 10px;
    overflow: hidden;
    padding: 4%;
    justify-content: center;
}
.password-left-navigation{
    display: flex;
    flex-direction: column;
    justify-content: content;
    background-color: white;
    border-radius: 30px 0px 0px 30px;
}
.password-left-navigation .password-header{
    margin-left: 15%;
    margin-top: 20%;
}
.password-content{
    margin-left: 15%;
    margin-top: 10%;
}
.password-content label{
    margin-right: 5%;
    font-size: 16px;
    font-weight: 600;
}
.password-content input{
    width: 60%;
    padding: 10px;
    padding-left: 14px;
    border-radius: 30px;
    border: none;
    background-color: #D9D9D9;
}
.password-line{
    margin-top: 5%;
    width: 61%;
    margin-left: 15%;
}
.reset-password-btn{
    margin-top: 5%;
    /* margin-left: 56%; */
    margin-left: 24%;
}
.reset-password-btn button{
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #28B498;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.password-login{
    text-decoration: none;
    margin-top: 3%;
    margin-left: 39%;
}
.password-right-navigation{
    background-image: url("/public/images/rm422-047.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 30px 30px 0px;
}


@media (max-width: 1024px) {
    .password-container {
      grid-template-columns: 60% 40%;
    }
    .password-line{
        width: 65%;
    }
  }

  @media (max-width: 768px) {
    body {
      padding: 0;
    }
    .password-container {
      grid-template-columns: 90%;
    }
    .password-left-navigation {
      border-radius: 30px;
    }
    .password-right-navigation {
      display: none;
    }
    .password-header h1 {
      font-size: 24px;
      margin-top: 2%;
    }
  }

  @media (max-width: 426px) {
    .password-header h1 {
      font-size: 18px;
      margin-top: 2%;
    }
    .password-content label{
        margin-left: 2%;
        margin-bottom: 2%;
    }
    .password-left-navigation{
        margin-left: -10%;
    }
    .password-line{
        width: 82%;
    }
    .password-header p {
      margin-top: 2%;
      font-size: 14px;
    }
    .password-content input {
      width: 95%;
      padding: 10px;
      padding-left: 13px;
      border-radius: 20px;
    }
    .password-login{
        margin-left: 42.5%;
    }
    .reset-password-btn{
        margin-left: 25%;
    }
    .reset-password-btn button {
        width: 80%;
      border-radius: 20px;
      font-size: 14px;
      padding: 10px;
      margin-top: 40%;
      /* margin-left: 10%; */
    }
    .Password-Recovery{
      background-color: white;
    }
    .password-container{
      padding: 1%;
    }
  }

  @media (max-width: 376px) {
    .reset-password-btn button {
        
      }
  }
  