* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  /* padding: 40px; */
}
.signup-page {
  background-color: #d9d9d9;
  height: 100vh;
}
.signup-container {
  min-height: calc(100vh - 5px * 2);
  display: grid;
  grid-template-columns: 50% 30%;
  border-radius: 10px;
  overflow: hidden;
  padding: 4%;
  justify-content: center;
}
.signup-left-navigation {
  display: flex;
  flex-direction: column;
  justify-content: content;
  /* padding-left: 150px; */
  background-color: white;
  border-radius: 30px 0px 0px 30px;
}
.signup-left-navigation .signup-header {
  margin-top: 2%;
  margin-left: 6%;
}
.signup-header p {
  color: grey;
  margin-bottom: -10px !important;
}
.link {
  text-decoration: none;
  color: #28b498;
}

.signup-form-content .signup-form-item {
  margin-left: 5%;
  margin-top: 30px;
}
.signup-form-content .signup-form-item input {
  width: 60%;
  padding: 12px;
  padding-left: 14px;
  border-radius: 30px;
  border: none;
  background-color: #d9d9d9;
  outline: none;
}
.signup-form-content .user-option {
  margin-left: 5%;
  margin-top: 30px;
}
.signup-form-content .user-option .user-select {
  height: 35px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  background-color: #d9d9d9;
  border-radius: 30px;
  padding: 6px;
  margin-top: 0.5%;
  min-width: 200px;
  outline: none;
  width: 60%;
}
.signup-form-content .user-option .user-select:hover {
  border-color: #28b498;
  border-width: 2px;
}
.user-option label {
  font-weight: 700;
  /* color: grey; */
  margin-left: 1%;
}
.signup-form-checkbox {
  margin-left: 6%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.signup-btn {
  margin-top: 10px;
  margin-left: 6%;
}
.signup-btn button {
  padding: 10px;
  border-radius: 30px;
  width: 30%;
  background-color: #28b498;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.signup-right-navigation {
  background-image: url("/public/images/picture.png");
  background-size: cover;
  /* background-image: url("/images/picture.png"); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 30px 30px 0px;
}
.signup-btn button:disabled{
  background-color: grey;
}
.terms-of-service p{
 font-size: 14px;
}
.terms-of-service h3{
  margin-top: 2%;
}
.PP p{
  font-size: 14px;
}
.PP p{
  margin-top: 2%;
}
.signup-form-checkbox .link{
 cursor: pointer;
}
::-webkit-input-placeholder {
  color: grey;
  font-weight: bold;
}
:-moz-placeholder {
  color: grey;
  font-weight: bold;
}
:-ms-input-placeholder {
  color: grey;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .signup-container {
    grid-template-columns: 60% 40%;
  }
}
@media (max-width: 768px) {
  body {
    padding: 0;
  }
  .signup-container {
    grid-template-columns: 90%;
  }
  .signup-left-navigation {
    border-radius: 30px;
  }
  .signup-right-navigation {
    display: none;
  }
  .signup-header h1 {
    font-size: 24px;
    margin-top: 2%;
  }

  /* .signup-left-navigation .signup-header{
        /* text-align: center; 
        margin-left: 10%;
    }
    .signup-form-content .signup-form-item{
        /* text-align: center; 
        margin-left: 10%;
    }
    .signup-form-checkbox{
        margin-left: 10%;
    }
    .signup-btn{
        margin-left: 10%;
    } */
}
@media (max-width: 426px) {
  .signup-header h1 {
    font-size: 18px;
    margin-top: 2%;
  }
  .signup-header p {
    margin-top: 2%;
    font-size: 14px;
  }
  .signup-form-content .signup-form-item input {
    width: 90%;
    padding: 11px;
    padding-left: 13px;
    border-radius: 20px;
  }
  .signup-form-content .user-option .user-select{
    width: 90%;
    padding: 11px;
  }
  .signup-form-checkbox label {
    font-size: 14px;
  }
  .signup-btn button {
    width: 50%;
    border-radius: 20px;
    font-size: 14px;
    padding: 8px;
    margin-top: 40%;
    margin-left: 20%;
  }
  .signup-page{
    background-color: white;
  }
  .signup-container{
    padding: 1%;
  }
}
