.issue-book {
  margin-left: 18%;
  margin-top: 2%;
  height: 110vh;
}
.issue-book-header h5{
    font-weight: normal;
    margin-top: 1%;
}
.issue-book-content{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}
.issue-book-content .issue-book-info{
    width: 900px;
}
.issue-book-content .issue-book-info .form-item{
    margin-bottom: 3%;
    width: 300px;
}
.issue-book-info .issue-book-title{
    margin-bottom: 2%;
}
.qr-pic-container .scan-btn{
    text-align: center;
    margin-left: 5%;
    margin-top: 9%;
    width: 300px;
}
.scan-btn button{
    padding: 10px;
    border: none;
    margin-top: 25px;
    background-color: #28b498;
    color: white;
    border-radius: 5px;
}
.scan-btn button:hover{
    background-color: black;
}
.issue-book button{
    padding: 10px;
    border: none;
    background-color: #28b498;
    color: white;
    border-radius: 5px;
}
.phone-number{
    display: flex;
    width: 350px;
}
.services {
    display: flex;
    justify-content: space-between;
    width: 380px;
}
.first-division .book-add-btn{
    margin-top: 3%;
}
.book-remove-btn{
    padding: 8px !important;
    margin-top: 10%;
}
.first-division input{
    margin-top: 2%;
}
.form-item input{
    margin-top: 2%;
}