.BodySectionThree {
  width: 100%;
  height: 700px;
  padding: 20px;
}
.bodySectionThree-Container-header {
  text-align: center;
}
.bodySectionThree-Container-header h1 {
  margin-bottom: 14px;
}
.bodySectionThree-Container-header .body-sectionthree-text {
  margin-bottom: 14px;
}
.bodySectionThree-Container-header .body-book hr {
  width: 8%;
  height: 1px;
  align-self: center;
  margin: 5px;
  background-color: black;
}
.bodySectionThree-nav-bar {
  text-align: center;
}
.bodySectionThree-nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin-top: 3%;
  /* background-color: white; */
  flex-wrap: wrap !important;
}
.bodySectionThree-nav-bar ul li {
  padding: 10px;
  width: 25%;
  border-right-color: white;
  border-right-style: solid;
  border-left-color: white;
  border-left-style: solid;
  background-color: #d9d9d9;
  border-radius: 5px;
}
.bodySectionThree-nav-bar ul li:hover {
  background-color: #28b498;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
.bodySectionThree-nav-content {
  width: 100%;
  height: 400px;
  /* background-color: #d9d9d9; */
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 5px;
}

/*Responsive*/

@media (max-width: 768px) {
  .bodySectionThree-nav-bar ul li {
    padding: 10px;
    width: 25%;
    font-size: 14px;
  }
  .BodySectionThree{
    height: 500px;
  }
}
@media (max-width: 426px){
  .BodySectionThree{
    height: 700px;
  }
  .bodySectionThree-Container-header h1{
    font-size: 20px;
  }
  .bodySectionThree-Container-header p{
    font-size: 16px;
  }
  .bodySectionThree-nav-bar ul li{
    width: 25%;
    font-size: 12px;
  }
}
@media (max-width: 320px){
  .bodySectionThree-Container-header h1{
    font-size: 18px;
  }
  .bodySectionThree-Container-header p{
    font-size: 12px;
  }
}