.footer{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
}
.footer-header{
    padding-top: 3%;
    margin-left: 5%;
}
.footer-content{
    display: flex;
    margin-left: 5%;
    list-style: none;
    margin-top: 2%;
    justify-content: space-between;
    /* background-color: red; */
    width: 88%;
}
.about-part .about-title h3{
    margin-bottom: 4%;
}
.about-part-content ul{
    list-style: none;
}
.about-part-content p{
    width: 250px;
}
.social-media-content ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* background-color: red; */
    justify-content: space-between;
    width: 50%;
    margin-top: 3%;
}
.social-media-content ul li{
    font-size: 20px;
}
.footer-footer-line{
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
}
.footer-footer-content{
    margin-left: 3%;
    margin-top: 2%;
}
.send-us-msg{
    display: flex;
    /* padding: 5px; */
    background-color: white;
    width:280px;
    border-radius: 20px;
    padding-bottom: 2px;
    margin-top: 2%;
}
.send-icon{
    position: absolute;
    font-size: 25px;
    left: 83%;
    margin-top: 0.6%;
    color: black !important;
    cursor: pointer;
}
.send-us-msg input{
    padding: 10px;
    border-radius: 20px;
    width: 250px;
    margin-top: 2%;
    border: none;
    outline: none;
}

/*Redsponsive*/

@media (max-width: 768px) {
    .footer{
        height: 300px;
    }
    .about-part .about-title h3{
        font-size: 14px;
    }
    .about-part .social-about-title h3{
        font-size: 14px;
    }
    .about-part-content ul li{
        font-size: 12px;
    }
    .social-media-content p{
        font-size: 12px;
    }
    .footer-footer-content{
        font-size: 12px;
    }
}

@media (max-width: 426px){
    .about-part .about-title{
        display: none;
    }
    .about-part-content{
        display: none;
    }
    .about-part{
        float: left;
    }
    .footer-content{
        /* margin-left: 5% !important; */
        width: 85%;
        display: flex;
        flex-direction: column;
    }
    .footer-header h2{
        font-size: 20px;
    }
    .footer{
        height: 200px;
    }
}