.header-container {
  width: 95%;
  height: 80px;
}
.babcock-img {
  padding-top: 1%;
  padding-left: 3%;
}
.header-line{
    margin-top: 0.5%;
    width: 100%;
    margin-left: 2.5%;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
}
.nav-content ul li button{
  border: none;
  background-color: white;
}
.nav-content ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    width: 500px;
    justify-content: space-between;
}
.nav-content ul li{
    text-decoration: none;
    margin-left: 2%;
    margin-top: 10%;
}
.nav-content ul li button:hover{
  color: #28B498;
  cursor: pointer;
}
.login-btn-container{
  margin-top: 2.5%;
}
.login-btn-container button{
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  background-color: #28B498;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
.burger-icon{
  display: none;
}
.mobile-login-button{
  display: none;
}
.close-icon{
  display: none;
}




/*Responsiveness*/

@media (max-width: 768px){
  /* .header-container{
    width: 100%;
  } */
  .nav-content ul{
    width: 400px;
  }
  .login-btn-container{
    margin-top: 3.5%;
  }
  .login-btn-container button{
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 426px){
  .nav-content{
    display: none;
  }
  .nav-content-mobile ul li button{
    border: none;
  background-color:#28B498;
  color: white;
  }
  .nav-content-mobile ul{
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #28B498;
    position: absolute;
    padding: 10px;
    list-style: none;
  }
  .nav-content-mobile ul li{
    margin-top: 5%;
  }
  .babcock-img{
    display: block;
  }
  .babcock-img1{
    display: none;
  }
  .burger-icon{
    display: block;
    padding-top: 35px;
    font-size: 20px;
  }
  .nav-content-mobile .close-icon{
    position: absolute;
    /* top: -29px;
    left: 190px; */
    top: 3%;
    left: 92%;
    font-size: 25px;
    color: white;
    display: block;
    /* width: 20px; */
  }
  .login-btn-container{
    display: none;
  }
  .nav-content-mobile .mobile-login-button{
    display: block;
    
  }
  .nav-content-mobile .mobile-login-button button{
    border: none;
    background-color: #28B498;
    font-size: 16px;
    font-weight: normal;
    color: white;
  }

}