.popup1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup1-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 10px;
  }
  
  .popup1-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  .popup2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup2-inner {
    position: relative;
    padding: 34px;
    /* height: 450px; */
    width: 100%;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
  }
  .request-popup{
    position: relative;
    padding: 36px;
    width: 100%;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
  }
  .total-book-details{
    position: relative;
    padding: 34px;
    width: 100%;
    max-width: 750px;
    background-color: white;
    border-radius: 10px;
    height: 430px;
  }
  .add-category-popup{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
  }
  .add-category-popup .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .popup2-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .total-book-details .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .request-popup .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .close-btn {
    border: none;
    background-color: white;
    font-size: 25px;
  }
  .close-btn:hover {
    color: #ff3259;
    cursor: pointer;
  }
  