.skeleton-image {
  display: flex;
  padding: 20px;
  border-radius: 4px;
  background: linear-gradient(to right, #f0f0f0 8%, #e0e0e0 18%, #f0f0f0 33%);
  background-size: 760px 120px;
  animation: loading 1.5s ease-in-out infinite;
  width: 240px;
  height: 350px;
}
.skeleton-image-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skeleton-slider-title {
  width: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.skeleton-slider-title2 {
  width: 250px;
  text-align: center;
  margin-left: 7%;
  height: 25px;
  /* border-radius: 5px; */
  background: #ddd;
  background-size: 760px 120px;
  animation: loader-animation 1s infinite ease-in-out;
}
.skeleton-text-main {
  margin-top: 5%;
  overflow-y: scroll;
  height: 312px;
  padding: 5px;
}
.skeleton-slider-text {
  margin-bottom: 3%;
  padding: 5px;
  text-align: center;
  height: 12px;
  /* border-radius: 5px; */
  background: #ddd;
  background-size: 760px 120px;
  animation: loader-animation 1s infinite ease-in-out;
}
/* width */
.skeleton-text-main::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.skeleton-text-main::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.skeleton-text-main::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.skeleton-text-main::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes loading {
  from {
    background-position: -200px 0;
  }
  to {
    background-position: 200px 0;
  }
}

@keyframes loader-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }