.photo_size{
    width: 250px;
    /* border-radius: 4px; */
    height: 350px; 
}

.image-holder{
    width: 300px;
    height: 400px;
    margin-top: 2%;
    padding: 10px;
}
.image-holder1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image{
    width: 250px;
    text-align: center;
}
.preview{
    width: 300px;
    text-align: center;
}
.preview-text{
    margin-top: 6%;
}