.AddBook{
    margin-left: 18%;
    margin-top: 2%;
}
.add-book-header h5{
    font-weight: normal;
    margin-top: 1%;
}
.add-book-content{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}
.qr-pic-container .qr-pic{
    height: 300px;
    width: 300px;
    /* border: solid black; */
    margin-left: 5%;
    margin-top: 20%;
}
.qr-pic{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.qr-pic img{
    margin-top: 7%;
    height: 300px;
    width: 300px;
    /* margin-left: 16%; */
    margin-left: -1%;
    border: black Solid;
    
}
.qr-pic a{
    text-align: center;
    margin-top: 2%;
    color: #28b498;
}
.add-book-content .book-info{
    width: 800px;
}
.add-book-content .book-info .form-item{
    margin-bottom: 3%;
    width: 300px;
}
.book-info .book-info-title{
    margin-bottom: 2%;
}
.qr-pic-container .generate-btn{
    text-align: center;
    margin-left: 5%;
    margin-top: 9%;
    width: 300px;
}
.generate-btn button{
    padding: 10px;
    border: none;
    margin-top: 25px;
    background-color: #28b498;
    color: white;
    border-radius: 5px;
}
.AddBook button{
    padding: 10px;
    border: none;
    background-color: #28b498;
    color: white;
    border-radius: 5px;
    /* padding-left: 15px;
    padding-right: 15px; */
}
.form-item input{
    width: 300px;
    padding: 9px;
    border-radius: 5px;
    font-size: 12px;
    /* border-color: #eeeeee; */
    border-width: thin;
}
.form-item select {
    width: 300px;
    padding: 9px;
    border-radius: 5px;
    font-size: 12px;
    /* border-color: #eeeeee; */
    border-width: thin;
}
.form{
    display: flex;
    flex-direction: row;
    width: 750px;
    justify-content: space-between;
    flex-wrap: wrap;
}