.members {
  margin-left: 18%;
  margin-top: 2%;
  width: 90%;
}
.members-header {
  margin-bottom: 2%;
}
.members-header h5 {
  font-weight: normal;
  margin-top: 1%;
}
.members .cont {
  padding: 20px;
  /* background-color: #f5f6fa; */
  background-color: white;
  width: 95%;
  height: 600px;
  margin-top: 0.3%;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.members .cont .table-container {
  overflow-y: scroll;
  height: 500px;
  margin-top: 0.5%;
}
.members-search {
  display: flex;
  border: solid 1px black;
  padding: 5px;
  width: 340px;
  border-radius: 5px;
}
.members-dropdown-filter {
  display: flex;
  border: solid 1px black;
  padding: 3px;
  width: 300px;
  border-radius: 5px;
}
.members-dropdown-filter select {
  width: 300px;
  border: none;
  outline: none;
}
.members-search input {
  width: 300px;
  border: none;
  padding: 5px;
  outline: none;
}
.members-search .members-search-icon {
  padding-top: 3px;
  padding-left: 3px;
  /* background-color: red; */
}
.members-first-header {
  display: flex;
  justify-content: space-between;
}
.members td {
  width: 260px;
  justify-content: left;
}
.members-table-header {
  display: flex;
}

.members-table-header .members-id {
  margin-left: 36.4%;
  font-size: 14px;
}
.members-table-header .members-status {
  margin-left: 22%;
  font-size: 14px;
}
