.settings{
    margin-left: 18%;
    margin-top: 1%;
    width: 100%;
}
.user-settings{
    margin-left: 18%;
    padding-top: 10px;
    width: 80%;
}
.settings-header h5{
    font-weight: normal;
    margin-top: 1%;
}
.settings-content{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 100%;
}
.profile-picture-container .profile-picture{
    height: 400px;
    width: 400px;
    border: solid black;
    /* margin-left: 3%; */
}
.profile-picture-container .change-pic-btn{
    text-align: center;
}
.profile-picture-container .change-pic-btn button{
    padding: 8px;
    background-color: #28B498;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3%;
}
.settings-content .admin-info{
    margin-left: 5%;
    width: 690px;
}
.form{
    display: flex;
    flex-direction: row;
    width: 700px;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: red; */
}
.settings-content .admin-info .form-item{
    margin-bottom: 3%;
    width: 300px;
}
.admin-info-title{
    margin-left: 1%;
    margin-bottom: 3%;
}
.form-item input{
    width: 350px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #D9D9D9;
}
.form-item label{
    margin-left: 3%;
}
.admin-info .save-btn{
    margin-left: 100%;
}
.save-btn button{
    padding: 8px;
    background-color: #28B498;
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}

